# Ying Chen Python Homework


## First Class

### Q1 How do you handle duplicate values in a dataset in Python?

I'll use duplicated() function to detect duplicates in Python.
If there is duplicates in dataset indeed, I'll run the dataset.drop_duplicates() function to drop duplicates and return unique rows.

### Q2 Acceptance rate
You are given two tables - friend_request and request_accepted. 
Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. How will you determine the overall acceptance rate of requests?  Write in both Python and SQL.

For requests that have been sent several times (requests sent from the same requester_id and to the same id at different time), I consider them as the same requests and count them as once.

#### SQL

# Return unique request table

SELECT requester_id, sent_to_id, MIN(time) AS time
INTO uniq_request
FROM friend_request rq
GROUP BY 1,2;

# Join the two tables to check acceptance

SELECT uq.requester_id AS requester_id, uq.sent_to_id AS sent_to_id
, CASE WHEN acc.time IS NOT NULL THEN 1
ELSE 0 END AS accept
INTO check_table
FROM uniq_request uq
LEFT JOIN request_accepted acc
ON uq.requester_id = acc.requestor_id
    AND uq.sent_to_id = acc.acceptor_id
    AND up.time < acc.time;
    
# Calculate acceptance rate, shown as %.
SELECT SUM(accept)*100.0/COUNT(*) AS accpetance_rate
FROM check_table;

#### Python

[import pandas as pd
# drop duplicates
friend_request =friend_request.drop_duplicates(['requester_id','sent_to_id'])

# join table
accept_table = pd.merge(friend_request, request_accepted,how='left',left_on =['requester_id','sent_to_id'],right_on=
['requestor_id','acceptor_id'])

# calculate accpetance rate, shown as %
def isNotNaN(num):
    return num == num
acceptance_rate = sum(isNotNaN(accept_table.requestor_id))/len(accept_table)*100.0
print(acceptance_rate)

### Q3 Dream company
Do some research and summarize the business model of your dream company, or company that you interview with.

**What** is the product

**Who** are the customer

**How** do they make money

**Why** do you want to work for this company?

(Optional) If you were CEO, what would you do to increase company’s revenue in the next 5 years?


### Answer 
I'm currently interviewing with Etsy.

#### Product

Etsy provides a marketplace for people to buy and sell unique goods. All the sales are web/app based.
I regard Etsy.com, Etsy APP(Buyer-side) and Sell on Etsy APP (Merchant-side) as its product.

#### Customer

Since Etsy is a double-margin marketplace, it's important for it to attract more consumers coming to buy products and having enough and various kind of merchants opening shops on Etsy.

I regard Etsy merchants as its customers since it provides service and charges from merchants side.

#### How to make money

Etsy's business model is to create a marketplace and charges from the merchants' side. 
Thus, it offers a lot of services for merchants like creating homepage, back-end statistics, etc. 
Most importantly, it encourages merchants to purchase traffic, in other words, media buy on Etsy.


## Second Class

### Q1 Write Function
Similarly to PrintDailyTimeSeries() in the sample code, write a Python function called PrintCumulativeTimeSeries(). Specifically:

The function takes three inputs:
experiment_id
country
vertical

The function produces two outputs:
A time series chart showing the cumulative uplift (hint: search for cumsum)
Print out the cumulative % uplift on revenue, experiment vs. control. Hint: (red - blue) / blue %

In [117]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# data location
file_path ='/Users/Ying/Google Drive/Bittiger/BA501/Week 4 Python/02 实战课/'
file_name ='BA501_python_data.csv'

# date_parser
import datetime as dt
parser = lambda date: pd.datetime.strptime(date, '%Y%m%d')

# read data
data = pd.read_csv(file_path+file_name,parse_dates=[1],date_parser=parser)
data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,2017-04-02,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,2017-04-03,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,2017-04-04,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,2017-04-03,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,2017-04-03,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS

In [270]:
def GetSeries(my_data, my_id):
    my_data = my_data[["date","spend_usd"]][my_data.experiment_id == my_id]
    series = my_data.groupby('date')["spend_usd"].sum()
    series = np.cumsum(series)
    return(series)

In [271]:
def PlotSeries (experiment, control):
    fig, ax = plt.subplots()
    ax.plot(experiment,color = "red",label = "experiment")
    ax.plot(control,color = "blue",label = "control")
    
    # tweaks
    ax.set_ylim(0,100000)
    ax.set_title("Red vs. Blue")
    ax.set_ylabel("Total spend")
    ax.grid(True, which="both")
    
    # change legend
    ax.legend().get_texts()[0].set_text("Red")
    ax.legend().get_texts()[1].set_text("Blue")
    
    # format date
    plt.gcf().autofmt_xdate()

In [272]:
def PrintCumulativeTimeSeries(experiment_id,country,vertical):
    table = data[["date","spend_usd","experiment_id"]][(data.country == country) & (data.vertical == vertical)]
    red = GetSeries(table,experiment_id[0])
    blue = GetSeries(table,experiment_id[1])
    experiment_revenue = red[-1]
    control_revenue = blue[-1]
    lift = (experiment_revenue-control_revenue)/control_revenue*100
    index_series = red.index
    print("Cumulative % uplift on revenue is "+ "%.1f" % lift +" %")
    PlotSeries(red,blue)
      
PrintCumulativeTimeSeries([12624548,12624549],"JP","ANDROID_APPS")

Cumulative % uplift on revenue is -2.7 %